body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #d1e7ff;
    color: white;
    border: 1em;
    cursor: pointer;
}

button:hover {
    background-color: #a3c2e3;
}

table {
    table-layout: fixed;
    width: 100%;
    margin: 10px auto;
    border-collapse: separate;
    border-spacing: 0 10px;
}

th {
    vertical-align: top;
    padding: 1em;
}

tr {
    text-align: center;
    transition: background-color 0.3s ease-in-out;
    border-radius: 10px;
}

td {
    padding-top: 12px;
    padding-bottom: 12px;
}

tr td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

tr td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

table tbody tr:hover {
    background-color: #d1e7ff;
    cursor: pointer;
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    width: 25%;
}

.nav-bar {
    background-color: #f4f4f4;
}

.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.normal-btn {
    background-color: #4dacff;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    box-sizing: border-box;
    list-style: none;
}

.div-btn {
    margin: 10px;
}

.normal-btn:hover {
    background-color: #2f93ec;
}

.warning-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    box-sizing: border-box;
    list-style: none;
}

.warning-btn:hover {
    background-color: #ea2b2b;
}

.main-container {
    margin: 1em;
}

.table-title {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.bill-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
}

.selected {
    background-color: #d1e7ff;
    outline: 3px solid #2f93ec;
    border-radius: 10px;
    outline-offset: 2px;
}

.add {
    color: green;
}

.error {
    color: red;
}

#settings-message {
    color: green;
    text-align: center;
    font-size: 0.9em;
}

#bill-table-message {
    font-size: 0.9em;
    min-height: 20px;
}

#page-name {
    margin-left: 1em;
}

#settings-modal-container, #bill-entry-container {
    background: white;
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    width: 300px;
}
