body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.list {
    margin-right: 1em;
}

.nav-bar {
    background-color: #f4f4f4;
}

.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.normal-btn {
    background-color: #d1e7ff;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    box-sizing: border-box;
    list-style: none;
}

.normal-btn:hover {
    background-color: #a3c2e3;
}

.main-container {
    margin: 1em;
}

.bill-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
}

button {
    background-color: #d1e7ff;
    color: white;
    border: 1em;
    cursor: pointer;
}

button:hover {
    background-color: #a3c2e3;
}

#message {
    color: green;
    text-align: center;
    font-size: 0.9em;
}

#page-name {
    margin-left: 1em;
}

#settings-modal-container {
    background: white;
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    width: 300px;
    display: none;
}

#bill-entry-container {
    background: white;
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    width: 300px;
    display: none;
}
